#wrapper * {
    box-sizing: border-box;
}
#wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999999;
    color: #2b2b2b;
    background-color: #fff;
    box-shadow:
  0.9px 0.6px 2.2px rgba(0, 0, 0, 0.028),
  2.2px 1.4px 5.3px rgba(0, 0, 0, 0.04),
  4.1px 2.6px 10px rgba(0, 0, 0, 0.05),
  7.4px 4.7px 17.9px rgba(0, 0, 0, 0.06),
  13.8px 8.8px 33.4px rgba(0, 0, 0, 0.072),
  33px 21px 80px rgba(0, 0, 0, 0.1)
;
border-radius: 4px;
  padding: 16px 22px 14px; 
font-family: Verdana, Geneva, sans-serif;
font-size: 13px;
opacity: 1;
/* border: 1px solid #fdb913; */
width: 390px;
line-height: 1.4;
transition: opacity 250ms;
}
/* 
#wrapper:hover {
    opacity: 1;
    pointer-events: none;
} */

p {
    margin: 6px 0;
}

#componentName {
    font-weight: bold;
    color: #330072;
}

p#pluginIdentifier {
    margin: 10px 0 8px;
    font-size: .9em;
    font-weight: 400;
    /* color: #2b2b2b; */
    text-transform: uppercase;
    letter-spacing: 1px;
}

p#helpText {
    font-size: .85em;
    color: #575757;
}

span#closeBtn {
    font-size: .9em;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    padding: 8px;
    text-decoration: underline;
}