html, body {
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, sans-serif;
}

a:link {
	color: #00285E;
}
a:visited {
	color: #00285E;
}
a:hover {
	color: #00285E;
}
a:active {
	color: #00285E;
}
body, table, td, a {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
} /* Prevent WebKit and Windows mobile changing default text sizes */
table, td {
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
} /* Remove spacing between tables in Outlook 2007 and up */
img {
	-ms-interpolation-mode: bicubic;
} /* Allow smoother rendering of resized image in Internet Explorer */

/* RESET STYLES */
body {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	height: auto;
	line-height: 100%;
	outline: none;
	text-decoration: none;
}
table {
	border-collapse: collapse !important;
}
body {
	height: 100% !important;
	margin: 0;
	padding: 0;
	width: 100% !important;
}
/* iOS BLUE LINKS */
.appleBody a {
	color: #330072;
	text-decoration: none;
}
.appleFooter a {
	color: #330072;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}
a.disable-link {
	pointer-events: none;
	cursor: default;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}
		
@media screen and (max-width: 640px) {
        table {
            width: 100% !important;
        }
        /*td.content {
            width: auto !important;
        }
            td.content01 {
                        height: auto !important;
                        width: 100% !important;
                    }
        img.banner {
            max-width: 100% !important;
            width: 100% !important;
            height: auto !important;
        }*/
        img {
            max-width: 100% !important;
            height: auto !important;
        }
        a {
            width: auto;
        }

        a[class="disable-link"] {
            pointer-events: auto !important;
            cursor: auto !important;
        }

}
		
/* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] { margin: 0 !important; }


p {
font-family:Verdana, Geneva, sans-serif;
font-size: 14px;
color: #292929;
line-height: 1.4;
margin-bottom: 15px;
}


h1, h2, h3, h4, h5 {
font-family:Verdana, Geneva, sans-serif;
color: #330072;
/* font-size: 23px !important;*/
/*margin-top: 1em !important;*/
}



@media only screen and (max-width: 550px) {
    table {
        width: 100% !important;
    }
    
    p {
        font-size: 30px;
    }
    
    img {
        width: 100%;
    }
}